<navigation></navigation>

<div id="login">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4 offset-lg-4">
					<div class="stack">
						<div class="stack-login">
							<form ng-submit="vm.onSubmit()" name="loginForm">
								<h4 class="title">Sign in</h4>
								<div class="command-wrapper"><span class="welcome">New user?</span><span class="action"><a href="/register">Create Account</a></span></div>
								<p class="median">or continue to login</p>
								<span class="error" ng-if="errorMessage">{{ errorMessage }}</span>
								<span class="success"></span>
								<label for="username">Email</label>
								<input type="text" name="email" class="form-control" id="email" aria-describedby="email" placeholder="" ng-model="vm.credentials.email">
								<label for="password">Password</label>
								<label class="forgot" tabindex="-1"><a href="" tabindex="-1">Forgot Password?</a></label>
								<input type="password" name="password" class="form-control" id="password" aria-describedby="password" placeholder="" ng-model="vm.credentials.password">
								<button type="submit" name="submit" class="btn btn-login">Sign in</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<endfooter></endfooter>